:root{
    --Very-dark-blue  : hsl(233, 47%, 7%);
--Dark-desaturated-blue : hsl(244, 38%, 16%);
--Soft-violet  : hsl(277, 64%, 61%);

--White  : hsl(0, 0%, 100%);
--Slightly  : hsla(0, 0%, 100%, 0.75);
--Slightly  : hsla(0, 0%, 100%, 0.6);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
font-family: 'Inter', sans-serif;
background-color: var(--Very-dark-blue);
}

P{
    font-size: 1rem;
    line-height: 1.2em;

}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}

.container{
    background-color: var(--Dark-desaturated-blue);
    margin: 2em 1em;
    padding: 0  0 2em;
    text-align: center;
    color: var(--White);
}
.container .card h1{
    margin:.8em 0  .8em 0 ;
    padding: 0 1em;
    line-height: 1.2;
    font-family: "Lexend Deca", sans-serif;

}
.container .card h1 span{
   color: hsl(277, 64%, 61%)

}

.container .card p{
    padding: 0 2em;
    margin-bottom: 1.5em;
}

.container .card ul li {     
    margin-bottom: 1em;
    font-size: .5em;
    
}
.container .card ul li span{
    display: block;
    margin-bottom: .2em;
    font-size: 3em;
    font-weight: 700;
    text-transform: lowercase;
    font-family: "Lexend Deca", sans-serif;
    
    }

.container .picture{
    background: url(./images/image-header-mobile.jpg) no-repeat center/cover;
    height: 25rem;
    border-radius: .5em .5em 0 0;
}
.container .picture .overlay{
    background-color: rgba(89, 26, 129, 0.617);
    height: 25rem;
    border-radius: .5em .5em 0 0;
}

 
.attribution { font-size: 11px; text-align: center; color:white; padding-bottom: 2em;}
.attribution a { color: hsl(259, 65%, 43%); }




@media (min-width:768px) {

    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-items: center;
        align-items: center;
        padding: 0;
        text-align: left;
    }
    .container .picture{
        background: url(./images/image-header-desktop.jpg) no-repeat center/cover;
        border-radius: 0 .5em .5em 0;
        min-width:50%;
        
    }
    .container .picture .overlay{
        background-color: rgba(89, 26, 129, 0.617);
       
        border-radius: 0 .5em .5em 0;
    
    }
    .container .card ul {
        padding-left: 2em;
        display: flex;
    }
    .container .card ul li {
      margin-right: 9em;
        
    }
    
}
@media (min-width:992px){
    body{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }
    .container .card:nth-child(2){
        padding: 0 2em;
    }
    
    .container .card p{
        margin-bottom: 2em;
    }
}